@font-face {
    font-family: 'homemade_appleregular';
    src: url('HomemadeApple-webfont.eot');
    src: url('HomemadeApple-webfont.eot?#iefix') format('embedded-opentype'),
         url('HomemadeApple-webfont.woff2') format('woff2'),
         url('HomemadeApple-webfont.woff') format('woff'),
         url('HomemadeApple-webfont.ttf') format('truetype'),
         url('HomemadeApple-webfont.svg#homemade_appleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

